.Productcard {
    /* Example styles */
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .addToCart {
        height: 26px;
        background-color: cyan;
        width: 195px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        position: relative;
        z-index: 5;
    }
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 5;
}

.productImage:hover {
    scale: 1.05;
}

.viewProduct {
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    background-color: cyan;
    height: 21px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.viewProduct:hover {
    text-decoration: underline;
}