.SideCart {
    background-color: aliceblue;
    height: 100vh;
    width: 30vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 250;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    box-shadow: -6px 4px 15px -4px #000000d1;
    padding-top: 30px;


    .closeCart {
        position: absolute;
        top: 20px;
        right: 432px;
        cursor: pointer;
    }



    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            background-color: white;
            display: flex;
            height: 12vh;
            width: 80%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-left: 12px;
            box-sizing: border-box;
            border-radius: 7px;
            box-shadow: 6px 5px 6px -1px #a1a1a1;
            ;

            img {
                height: 30px;
                width: 30px;
            }

            .removeItem {
                position: absolute;
                right: 69px;
            }
        }
    }

    img {
        height: 461px;
        width: 337px;
    }

    button {
        background-color: cyan;
        height: 7vh;
        width: 80%;
        margin-left: 3vw;
        border: none;
        box-shadow: inset 0px 0px 11px 1px grey;
        border-radius: 12px;
    }
}